main{
    margin-left: 16rem;
}
header {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 16rem;
    background-color: #1E1E2E; /* blue-600 */
    color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 10;
    padding: 24px; /* 1.5rem */
}

i{
    font-size: 1.5rem;
    margin: 0.5rem;
    color: white;
}

nav{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
nav a{
    display: flex;
    flex-direction: row;
}
section{
    width: 100%;
}
h2{
    justify-self: start;
}
ul{
    list-style: none;
}
#about, #portafolio, #contact{
    padding: 2rem;
}
#portafolio{
    background-color: #F9FAFB;
}
#bg-image{
    height: 40vh;
    width: 100vh;
}
#contact i{
    color: #1E1E2E;
}
.project{
    background-color: white;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem;
    margin:2rem
}
.profile-image{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
    border: 4px solid white;
}
.background-image{
    background:url('img/imagen-fondo.jpg') no-repeat center center;
    background-size: cover;
    text-align: start;
    justify-items:self-start;
    width: 100%;
    height: 45vh;
}
.background-image h1{
    color: white;
    font-size: 3rem;
    padding: 2rem;
    display: inline-block;
    justify-self:flex-start;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}
.background-image p{
    color: white;
    font-size: 1.5rem;
    padding: 2rem;
    margin-top: -4rem;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}