main{
    margin-left: 16rem;
}
header {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 16rem;
    background-color: #1E1E2E; /* blue-600 */
    color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 10;
    padding: 24px; /* 1.5rem */
}

i{
    font-size: 1.5rem;
    margin: 0.5rem;
    color: white;
}
nav{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
nav a{
    display: flex;
    flex-direction: row;
}
section{
    width: 100%;
}
#about, #portafolio, #contact{
    padding: 2rem;
}

#bg-image{
    height: 40vh;
    width: 100vh;
}
.profile-image{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
    border: 4px solid white;
}
.background-image{
    background-image: url('src/img/imagen-fondo.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 45vh;
}